<nav class="navbar fixed-top navbar-expand-lg navbar-dark p-md-3" [ngStyle]="{'background-image':(isScrolled||isClicked) ? 'linear-gradient(60deg, #9c3d54 20%, #1b2021 80%)' :  '' }">
    <div class="container">
      <a class="navbar-brand brand" href="#"><span>10</span>ml<span>M</span>emory</a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
        (click)="changeStyle()"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <div class="collapse navbar-collapse" id="navbarNav">
        <div class="mx-auto"></div>
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link text-white" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="#">Gallery</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="#">Testimonials</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="#">Contact us</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

