<!-- <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="homepage.component.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css"
        integrity="sha384-vSIIfh2YWi9wW0r9iZe7RJPrKwp6bG+s9QZMoITbCckVJqGCCRhc+ccxNcdpHuYu" crossorigin="anonymous">
    <title>Amrit Photography</title>
</head> -->

<body>
    <!-- Header -->
    <app-header></app-header>
	<!-- End Header -->


    <!-- Hero Section  -->
    <section id="hero">
        <div class="hero container">
            <div>
                <h1>Hello,<span></span></h1>
                <h1>My Name is Amrit<span></span></h1>
                <h1>Welcome to 10ml Memory<span></span></h1>
            </div>
        </div>
    </section>


    <!-- galery -->
    <section id="contact">
        <div class="contact container-fluid">
            <div>
                
                <h1 class="section-title">G<span>allery</span></h1>
            </div>
        </div>  
    </section>    

     <!-- Contact Section -->
     <section id="contact">
        <div class="contact container-fluid">
            <div>
                
                <h1 class="section-title">Contact <span>info</span></h1>
            </div>
            <div class="contact-items">
                <div class="contact-item">
                    <a href="tel: 9778222339">
                        <div class="icon"><img src="https://img.icons8.com/bubbles/100/000000/phone.png" /></div>
                    </a>

                    <div class="contact-info">
                        <h1>Phone</h1>
                        <h2>+91 7406186454</h2>
                        <h2>+91 8097615895</h2>
                    </div>
                </div>
                <div class="contact-item">
                    <a href="mailto:abc@xyz.com">
                        <div class="icon"><img src="https://img.icons8.com/bubbles/100/000000/new-post.png" /></div>
                    </a>

                    <div class="contact-info">
                        <h1>Email</h1>
                        <h2>abc@xyz.com</h2>

                    </div>
                </div>
                <div class="contact-item">
                    <a
                        href="https://www.google.com/maps/place/Old+Town,+Bhubaneswar,+Odisha/@20.2406986,85.8183475,14z/data=!3m1!4b1!4m5!3m4!1s0x3a19a7243abdcba9:0xd4ddb961bfe0d037!8m2!3d20.2387969!4d85.834647">
                        <div class="icon"><img src="https://img.icons8.com/bubbles/100/000000/map-marker.png" /></div>
                    </a>

                    <div class="contact-info">
                        <h1>Address</h1>
                        <h2>Bangalore, Karnataka, India</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Contact Section -->

     <!-- Footer -->
     <section id="footer">
        <div class="footer container-fluid">
            <div class="brand">
                <h1><span>A</span>mrit <span>M</span>ohapatra</h1>
            </div>
            <h2>10Ml Memory</h2>
            <div class="main center">
                <div class="box">
                    <div class="icon-box center">
                        <i class="fab fa-instagram fa-3x"></i>
                    </div>
                    <div class="inner-box center">
                        <p>Instagram</p>
                    </div>
                </div>
                <div class="box">
                    <div class="icon-box center ib-t">
                        <i class="fab fa-twitter fa-3x"></i>
                    </div>
                    <div class="inner-box center">
                        <p>Twitter</p>
                    </div>
                </div>
                <div class="box">
                    <div class="icon-box center ib-g">
                        <i class="fab fa-facebook-f fa-3x"></i>
                    </div>
                    <div class="inner-box center">
                        <p>facebook</p>
                    </div>
                </div>
                <div class="box">
                    <div class="icon-box center ib-w">
                        <i class="fab fa-whatsapp fa-3x"></i>
                    </div>
                    <div class="inner-box center">
                        <p>Whatsapp</p>
                    </div>
                </div>
            </div>
                
            <p>Copyright © 2021 Pritam Nayak. All rights reserved</p>
        </div>
    </section>
    