@import 'https://fonts.googleapis.com/css?family=Montserrat:300, 400, 700&display=swap';
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
html {
	font-size: 10px;
	font-family: 'Montserrat', sans-serif;
	scroll-behavior: smooth;
}
a {
	text-decoration: none;
}
.container {
	min-height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}
p {
	color: black;
	font-size: 1.4rem;
	margin-top: 5px;
	line-height: 2.5rem;
	font-weight: 300;
	letter-spacing: .05rem;
}
.section-title {
	font-weight: 300;
	color: black;
	margin-bottom: 10px;
	text-transform: uppercase;
	letter-spacing: .2rem;
	text-align: center;
}
.size-change-section-title{
	padding-top: 1.5rem;
	padding-bottom: 1.5rem;
}
.section-title span {
	color: crimson;
}

.cta {
	display: inline-block;
	padding: 10px 30px;
	color: white;
	background-color: transparent;
	border: 2px solid crimson;
	font-size: 2rem;
	text-transform: uppercase;
	letter-spacing: .1rem;
	margin-top: 30px;
	transition: .3s ease;
	transition-property: background-color, color;
}
.cta:hover {
	color: white;
	background-color: crimson;
}
.brand h1 {
	font-size: 3rem;
	text-transform: uppercase;
	color: white;
}
.brand h1 span {
	color: crimson;
}

/* Header section */
#header {
	position: fixed;
	z-index: 1000;
	left: 0;
	top: 0;
	width: 100vw;
	height: auto;
}
#header .header {
	min-height: 8vh;
	background-color: rgba(31, 30, 30, 0.24);
	transition: .3s ease background-color;
}

/* Hero Section */
.profile{
	height: 330px;
}
#hero {
	padding-top: 2rem;
	background-image: url(../../assets/images/hero-bg.jpg);
	background-size: cover;
	background-position: top center;
	position: relative;
	z-index: 1;
}
#hero::after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-color: black;
	opacity: .7;
	z-index: -1;
}
#hero .hero {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 50px;
	justify-content: flex-start;
}
#hero h1 {
	display: block;
	width: fit-content;
	position: relative;
	color: transparent;
	animation: text_reveal .5s ease forwards;
	animation-delay: 1s;
}

#hero h1:nth-child(1) {
	animation-delay: 1s;
}
#hero h1:nth-child(2) {
	animation-delay: 2s;
}
#hero h1:nth-child(3) {
	animation: text_reveal_name .5s ease forwards;
	animation-delay: 3s;
}
#hero h1 span {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 0;
	background-color: crimson;
	animation: text_reveal_box 1s ease;
	animation-delay: .5s;
}
#hero h1:nth-child(1) span {
	animation-delay: .5s;
}
#hero h1:nth-child(2) span {
	animation-delay: 1.5s;
}
#hero h1:nth-child(3) span {
	animation-delay: 2.5s;
}

/* End Hero Section */

/* galery section */
#galery .galery {
	flex-direction: column;
	max-width: 1200px;
	margin: 0 auto;
}

/* contact Section */

#contact .contact {
	flex-direction: column;
	max-width: 1200px;
	margin: 0 auto;
}
#contact .contact-items {
	width: 400px;
}
#contact .contact-item {
	width: 80%;
	padding: 20px;
	text-align: center;
	border-radius: 10px;
	padding: 30px;
	margin: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	box-shadow: 0px 0px 18px 0 #0000002c;
	transition: .3s ease box-shadow;
}
#contact .contact-item:hover {
	box-shadow: 0px 0px 5px 0 #0000002c;
}
#contact .icon {
	width: 70px;
	margin: 0 auto;
	margin-bottom: 10px;
}
#contact .contact-item {
	background-color: black;
	color: #fff;
}
#contact .contact-info h2 {
	font-size: 1.3rem;
	line-height: 2rem;
	font-weight: 500;
}
/*End contact Section */

/* Footer */
#footer {
     background-image:linear-gradient(60deg, #9c3d54 20%, #1b2021 80%);
    text-align: center;
}
#footer .footer {
	min-height: 200px;
	flex-direction: column;
	padding-top: 50px;
	padding-bottom: 10px;
}
#footer h2 {
	color: white;
	font-weight: 500;
	font-size: 1.8rem;
	letter-spacing: .1rem;
	margin-top: 10px;
	margin-bottom: 10px;
    
}

@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Ranchers&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.main{
    height: 20vh;
}
.box{
    width: 60px;
    height: 60px;
    position: relative;
    margin: 0 20px;
}
.icon-box, .inner-box{
    position: absolute;
    width: 100%;
    height: 100%;
    background: #c32aa3;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    transition: all .1s;
}
.ib-t{
    background: #1da1f2;
}
.ib-g{
    background: #3d84b8;
}
.ib-w{
    background: #25d366;
}
.box:hover .icon-box{
    transform: translateY(-30px);
}
.inner-box{
    background: #9c3d54;
    align-items: flex-end;
    justify-content: center;
    z-index: -1;
    color: rgb(41, 41, 41);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.082);
}
.inner-box p{
    font-family: 'Berkshire Swash', cursive;
    font-size: 1.2rem;
    margin-bottom: 5px;
}
#footer p {
	color: white;
	font-size: 1.3rem;
}
/* End Footer */

/* Keyframes */
@keyframes hamburger_puls {
	0% {
		opacity: 1;
		transform: scale(1);
	}
	100% {
		opacity: 0;
		transform: scale(1.4);
	}
}
@keyframes text_reveal_box {
	50% {
		width: 100%;
		left: 0;
	}
	100% {
		width: 0;
		left: 100%;
	}
}
@keyframes text_reveal {
	100% {
		color: white;
	}
}
@keyframes text_reveal_name {
	100% {
		color: crimson;
		font-weight: 500;
	}
}
/* End Keyframes */

/* Media Query For Tablet */
@media only screen and (min-width: 768px) {
	.cta {
		font-size: 2.5rem;
		padding: 20px 60px;
	}
	h1.section-title {
		font-size: 6rem;
	}

	/* Hero */
	#hero h1 {
		margin:0;
		padding: 0;
		font-size: 5vw;
	}
	#hero h2 {
		margin:0;
		padding: 0;
		font-size: 3vw;
		color: aliceblue;
	}
	/* End Hero */

	/* Services Section */
	#services .service-bottom .service-item {
		flex-basis: 45%;
		margin: 2.5%;
	}
	/* End Services Section */

	/* Project */
	#projects .project-item {
		flex-direction: row;
	}
	#projects .project-item:nth-child(even) {
		flex-direction: row-reverse;
	}
	#projects .project-item {
		height: 400px;
		margin: 0;
		width: 100%;
		border-radius: 0;
	}
	#projects .all-projects .project-info {
		height: 100%;
	}
	#projects .all-projects .project-img {
		height: 100%;
	}
	/* End Project */

	/* About */
	#about .about {
		flex-direction: row;
	}
	#about .col-left {
		width: 600px;
		height: 400px;
		padding-left: 60px;
	}
	#about .about .col-left .about-img::after {
		left: -45px;
		top: 34px;
		height: 98%;
		width: 98%;
		border: 10px solid crimson;
	}
	#about .col-right {
		text-align: left;
		padding: 30px;
	}
	#about .col-right h1 {
		text-align: left;
	}
	/* End About */

	/* contact  */
	#contact .contact {
		flex-direction: column;
		padding: 100px 0;
		align-items: center;
		justify-content: center;
		min-width: 20vh;
	}
	#contact .contact-items {
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		margin: 0;
	}
	#contact .contact-item {
		width: 30%;
		margin: 0;
		flex-direction: row;
	}
	#contact .contact-item .icon {
		height: 100px;
		width: 100px;
	}
	#contact .contact-item .icon img {
		object-fit: contain;
	}
	#contact .contact-item .contact-info {
		width: 100%;
		text-align: left;
		padding-left: 20px;
	}
	/* End contact  */
}
/* End Media Query For Tablet */

/* Media Query For Desktop */
@media only screen and (min-width: 1200px) {
	/* header */
	#header .hamburger {
		display: none;
	}
	#header .nav-list ul {
		position: initial;
		display: block;
		height: auto;
		width: fit-content;
		background-color: transparent;
	}
	#header .nav-list ul li {
		display: inline-block;
	}
	#header .nav-list ul li a {
		font-size: 1.8rem;
	}
	#header .nav-list ul a:after {
		display: none;
	}
	/* End header */

	#services .service-bottom .service-item {
		flex-basis: 22%;
		margin: 1.5%;
	}
}
/* End  Media Query For Desktop */



.testimonial {
    width: 350px;;
    display:inline-block;
    margin: 0 20px;
    transition: .5s;
}
/* .testimonial:hover{
    transform: translateY(-20px);
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.7);
} */
.testimonial .card {
    position:relative;
    overflow:hidden;
    width:100%;
    margin:0 auto;
    background:#1b1a17;
    padding:20px;
    box-sizing:border-box;
    text-align:center;
    box-shadow:0 10px 40px rgba(0,0,0,.5);
}
.testimonial .card .layer {
    z-index:1;
    position:absolute;
    top: 0;
    left: 99.5%;
    height:100%;
    width:100%;
    background:linear-gradient(to bottom right , #9c3d54, #1b2021);
    transition:0.5s;
}
.testimonial .card:hover  .layer{
    left: 0;
}
.testimonial .card .content {
    z-index:2; 
    position:relative;
}
.testimonial .card .content p {
    font-size:14px;
    line-height:24px;
    color:#fff;
}
.testimonial .card .content .image {
    width:100px;
    height:100px;
    margin:0 auto;
    border-radius:50%;
    overflow:hidden;
    border: 3px solid white;
    box-shadow: 0 10px 40px rgba(0,0,0,0.5);
    transition: .5s;
}
.testimonial:hover .card .content .details h2{
    color: white;
}
.testimonial .card .content .details h2 {
    font-size:30px;
    color:#fff;
    transition:0.5s;
}
.testimonial .card .content .details h2 span {
    font-size:18px;
    color:#fff;
    transition:0.5s;
}
.testimonial .card:hover .content .details h2 span {
    color:white;
    position:relative;
}

/* gallery */
.grid-container {
  columns: 5 200px;
  column-gap: 1.5rem;
  width: 90%;
  margin: 0 auto;
}
  .div1 {
    width: 150px;
    margin: 0 1.5rem 1.5rem 0;
    display: inline-block;
    width: 100%;
    border: solid 2px #de8971;
    padding: 5px;
    box-shadow: #de8971;
    border-radius: 5px;
    transition: all .25s ease-in-out;
  }
   .grid-item:hover{
	filter: grayscale(0);
   }
    img {
      width: 100%;
      filter: grayscale(100%);
      border-radius: 5px;
      transition: all .25s ease-in-out;
    }
    p {
      margin: 5px 0;
      padding: 0;
      text-align: center;
      font-style: italic;
	  color: #1b1a17;
    
  }
  /* testimonial sesction */
  .test-desc{
	  color: #fff;
	  width: 80%;
	  font-size:medium;
	  line-height: normal;
	  margin: auto;
	  margin-top: 1rem;
  }
  .carousel{
	  padding-left: 1rem;
	  padding-right: 1rem;
  }
  .base{
	  background-image: linear-gradient(60deg, #9c3d54 20%, #1b2021 80%) ;
  }
  .test-profile{
	  margin-top: 1rem;
	  height: 100px;
	  width: 100px;
	  border-radius: 100%;
	  align-self: center;
  }
  .item{
	  margin-bottom: 2rem;
	  text-align: center;
  }
  .name{
	margin-top: 1rem;
  }
  .name,.profession{
	  color: #fff;
  }
   




body{
	background-color: #f8ede3;
}